.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 40px 0px;
    z-index: 11;
    transition: .5s ease;
    @media (max-width: $pointMobile) {
        padding: 20px 0px;
    }
    &.sticky {
        padding: 25px 0px;
        @media (max-width: $pointMobile) {
            padding: 20px 0px;
        }
        * {
            color: $text;
        }
        .header__logo-text {
            width: 0;
            height: 0;
        }
        .header__content {
            justify-content: start;
        }
        .header__logo {
            width: 80px;
            height: 80px;
        }
        .header__menu-wrapper {
            display: flex;
        }
    }

    &.nosticky {
        padding: 25px 0px;
        * {
            color: $text;
        }
        .header__logo-text {
            width: 0;
            height: 0;
        }
        .header__content {
            justify-content: start;
        }
        .header__logo {
            width: 80px;
            height: 80px;
            @media (max-width: $pointMobile) {
                width: 60px;
                height: 60px;
            }
            @media (max-width: 490px) {
                margin-right: 10px !important;
            }
        }
        .header__menu-wrapper {
            display: flex;
        }
    }

    &__container {
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo-wrapper {
        display: flex;
        align-items: center;
        &:first-child {
            .header__logo {
                background: url('/source/logo-1.svg');
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        &:last-child {
            .header__logo {
                background: url('/source/logo-2.svg');
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 100px;
        height: 100px;
        margin-right: 15px;
        @media (max-width: $pointMobile) {
            width: 60px;
            height: 60px;
            min-width: 60px;
            margin-right: 10px;
        }
        @media (max-width: 490px) {
            margin-right: 0;
        }
    }

    &__logo-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $main-color;
        overflow: hidden;
        transition: .3s ease;
        span {
            &:first-child {
                font-size: 16px;
                margin-left: 6px;
                @media (max-width: $pointMobile) {
                    font-size: 10px;
                }
                @media (max-width: 565px) {
                    font-size: 8px;
                }
            }
            &:last-child {
                font-size: 32px;
                text-transform: uppercase;
                @media (max-width: $pointMobile) {
                    font-size: 20px;
                }
                @media (max-width: 565px) {
                    font-size: 16px;
                }
            }
        }
    }

    &__navigation {
        display: none;
        li {
            margin-right: 20px;
            a {
                font-size: 24px;
            }
        }
    }

    &__menu-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background: $color-01;
        display: none;
        cursor: pointer;
        transition: .3s ease;
        &.active {
            background: $main-color;
            .header__menu {
                color: $color-01 !important;
            }
        }
        @media (max-width: $pointMobile) {
            min-width: 60px;
            height: 60px;
            width: 60px;
        }
    }

    &__menu {
        font-size: 18px;
        color: $main-color !important;
        transition: .3s ease;
        @media (max-width: $pointMobile) {
            font-size: 12px;
        }
    }
}
