.home {
    min-height: 100vh;
    position: relative;
    
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__video {
        background: $primary-color;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba($color: #000000, $alpha: .4);
        z-index: 1;
    }

    &__container {
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        position: relative;
        z-index: 2;
    }

    &__item-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        background: $main-color;
        filter: drop-shadow(0px 18px 28px rgba(9,30,66,0.1));
        transition: .5s ease;
        cursor: pointer;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        // overflow: hidden;
        position: relative;
        border: 1px solid $text-secondary;
        &.unactive {
            width: 160px;
            height: 160px;
        }
        &.active {
            width: 230px;
            height: 230px;
            .home__item-circle {
                visibility: visible;
                opacity: 1;
                transform: scale(1);
            }
        }
        &:hover {
            width: 200px;
            height: 200px;
            .home__item-text {
                color: $primary-color;
            }
        }
    }

    &__item-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: relative;
        visibility: hidden;
        opacity: 0;
        transition: .3s ease;
        transform: scale(1.1);
    }
    
    &__item-circle-text {
        position: absolute;
        width: 100%;
        height: 100%;
        animation: rotateText 10s linear infinite;
        p {
            font-size: 16px;
            color: $text;
            span {
                position: absolute;
                left: 50%;
                font-size: 16px;
                transform-origin: 0 100px;
            }
        }
    }

    &__item-text {
        font-size: 20px;
        font-family: $secondary-font;
        text-align: center;
        transition: .3s ease;
        color: #070409;
    }
    
}

@keyframes rotateText {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
