$main-color: #ffff;
$primary-color: #B1FF37;
$secondary-color: #632EF2;
$tertiary-color: none;
$text: #070409;
$text-secondary: #B1B1B1;
$text-secondary-02: #E6E6E6; 
$error: #ED0A34;
$succes: #0284C7;
$transition: all .5s ease;