@import '_variables';
@import '_reset';
@import '_fonts';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html {
	&.none-scroll {
		overflow: hidden;
	}
}
html,
body {
	font-size: 16px; 
	color: $text;
	overflow-x: hidden;
    font-optical-sizing: auto;
	font-family: 'Gilroy', sans-serif;
	&::-webkit-scrollbar {
		width: 0;
	}
	a {
		text-decoration: none;
		color: $text;
	}
	li {
		list-style: none;
	}
}

// General Container
._container {
	max-width: 1760px;
	margin: 0 auto;
	overflow: hidden;
	@media (max-width: $pointMobile) {
		max-width: 100%;
		padding: 0px 20px;
	}
}

@import '_menu';
@import '_header';
@import '_home';
@import '_news';
@import '_rukovodstvo';
@import '_document';
@import '_about';
@import '_gallery';
@import '_festival';
@import '_contact';
@import '_footer';